.toolbar{
	border-style:ridge;
	display:inline-block;
	border-color:#004785;
}

.canvas{
	border-style:ridge;
	display:inline-block;
	border-color:#004785;
}

.forms{
	position: relative;
	display:inline-block;
}

.ent1-form{
	margin: 0 auto;
	position: relative;
	border-style:ridge;
	border-color:#004785;
}

.rel-form{
	margin: 0 auto;
	position: relative;
	border-style:ridge;
	border-color:#004785;
}

circle{
	stroke:#004785;
	stroke-width:2;
	fill:white;
	cursor:pointer;
}

line{
	stroke:#004785;
	stroke-width:3;
	cursor:pointer;
}

label{
	display:block;
}



